* {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
}

* {
    -webkit-tap-highlight-color: transparent !important;
    // &:focus {
    //     outline: none !important;
    // }
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: none !important;
}

*:visited {
    outline: none !important;
}

* {
    -webkit-tap-highlight-color: transparent !important;
}

@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i');

:root {
    --whitish: #E6E6E6;
    --white: white;
    --grey: #A8A8A8;
    --greyish: #707070;
    --active: #F8B763;
}

body { font-size: 16px; }
// Custom, iPhone Retina
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    #breakpoint::after { content: "xs"}
    body { font-size: 9px; }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    #breakpoint::after { content: "sm"}
    body { font-size: 11px; }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    #breakpoint::after { content: "md"}
    body { font-size: 12px; }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    #breakpoint::after { content: "lg"}
    body { font-size: 15px; }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    #breakpoint::after { content: "xl"}
    // NOTE: this is the "default" (see above)
}
